.mainblock {
    background-color: red !important;
}

div.template {
    color: red;
}

.someStyle {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 4px !important;
    margin: 0 0 8px 0 !important;
    background-color: white !important;
    padding-bottom: 16px !important;
    margin-right: 0.5% !important;
}